@model TennisApp.Models.Utilizador

@{
    ViewBag.Title = "Demover";
}
@if (TempData["Delete"] != null)
{
    <div id="msg" class="alert alert-success fade-in">
        <strong>Utilizador editada!</strong>
        O Utilizador " @TempData["Delete"].ToString() " foi eliminado com sucesso.
    </div>
}
@if (TempData["Error"] != null)
{
    <div id="msg" class="alert alert-danger fade-in">
        <strong>Erro!</strong>
        Ocorreu um erro: @TempData["Error"].ToString() .
    </div>
}
<h2>Demover</h2>

<h3>Tem a certeza que pretende remover?</h3>
<div>
    <h4>Utilizador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telemovel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telemovel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNasc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNasc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-default" /> |
            @Html.ActionLink("Voltar à lista", "Index")
        </div>
    }
</div>
