@using PagedList;
@using PagedList.Mvc;

@model IPagedList<TennisApp.Models.Noticia>

@{
    ViewBag.Title = "Lista de Notícias";
}
@if (TempData["Create"] != null)
{
    <div id="msg" class="alert alert-success fade in">
        <strong>Notícia criada!</strong>
        A notícia " @TempData["Create"].ToString() " foi criada com sucesso.
    </div>
}
@if (TempData["Edit"] != null)
{
    <div id="msg" class="alert alert-warning fade in">
        <strong>Notícia editada!</strong>
        A notícia " @TempData["Edit"].ToString() " foi editada com sucesso.
    </div>
}
@if (TempData["Delete"] != null)
{
    <div id="msg" class="alert alert-success fade in">
        <strong>Notícia editada!</strong>
        A notícia " @TempData["Delete"].ToString() " foi eliminada com sucesso.
    </div>
}
@if (TempData["Error"] != null)
{
    <div id="msg" class="alert alert-danger fade in">
        <strong>Erro!</strong>
        Ocorreu um erro: @TempData["Error"].ToString() .
    </div>
}

<h2>Notícias</h2>

<div >
    <div class="row" style="padding:5px;">
        <div class="col col-md-9" style="font-size:14px;">
            @using (Html.BeginForm("Index", "Noticias", FormMethod.Get))
            {
                <div class="row justify-content-center my-3">
                    <label style="float:left; margin-right:10px;">Procurar por:</label>
                    <text>Autor</text> @Html.RadioButton("searchBy", "Autor", false)
                    <text>Título</text> @Html.RadioButton("searchBy", "Titulo", false)
                    <text>Relevância</text> @Html.RadioButton("searchBy", "Relevancia", false)
                    <text>Categoria:</text> @Html.DropDownList("categoriaString", "Qualquer")
                </div>
                <div class="row">
                    @Html.TextBox("search")  <input type="submit" value="Procurar" />
                </div>
            }
        </div>
        <div class="col-12 col-lg-2" style="font-size:14px;">
            @if (User.IsInRole("Jornalista"))
            {
                <label>@Html.ActionLink("Criar uma notícia", "Create")</label>
            }
        </div>
    </div>
    <div class="row" style="padding:5px;">
        @if (Model.Count() == 0)
        {
            <label style="float:right; margin-top: 5px; margin-right:85px;">Não foi encontrado o que procura.</label>
        }
        @foreach (var item in Model)
        {
            <div class="row">
                <a href="/Noticias/Details/@item.IdNoticia" target="_blank">
                    @{string imgSRC = "/Imagens/" + item.Foto;
                        <img src="@imgSRC" alt="Sample Image" class="col-md-2 col-xs-12" />
                    }
                </a>
                <div class="col-md-10" style="display:block; padding:5px; font-size:20px;">
                    <p class="paragComLimite">
                        <div class="form-group">
                            <a href="/Noticias/Details/@item.IdNoticia" target="_blank">
                                <b style="color:#00A3C0"> @Html.DisplayFor(modelItem => item.Titulo)</b>
                            </a>
                        </div>
                        @foreach (var categoria in Model.Where(x => x.IdNoticia == item.IdNoticia).SelectMany(x => x.Categorias))
                        {
                            <label>[@categoria.Nome] </label>
                        }
                    </p>
                    <p style="font-size:14px;">@Html.DisplayFor(modelItem => item.DataPublicacao) - Publicado por: @Html.DisplayFor(modelItem => item.Criador.Nome)</p>
                </div>
            </div>
                        }
    </div>

    @Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    searchBy = Request.QueryString["searchBy"],
    search = Request.QueryString["search"],
    sortBy = Request["sortBy"],
    categoriaString = Request["categoriaString"]
}),
new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, DisplayItemSliceAndTotal = true })
</div>

<script>
	$(document).ready(function () {
		// esconde a mensagem de alerta que apareça
		setTimeout(function () {
			$("#msg").fadeOut(1000);
		}, 6000);
	});

</script>
